<div ng-if="showme"
  class="d-flex align-items-center justify-content-center"
  style="position: fixed; z-index: 200; width: 100vw; height: 73vh"
>
  <div
    style="
      display: flex;
      align-items: center;
      background-color: #1a1717;
      justify-content: center;
      width: 22rem;
      border-radius: 16px;
    "
    class="showme-loader"
  >
    <img
      style="width: 100px; height: 100px"
      ng-src="images/loader.gif"
      width="20"
      height="20"
    />
    <p style="font-size: 30px">Please wait...</p>
  </div>
</div>
